py -m venv .env
py -m pip install Django
pip install djangorestframework
pip install django-cors-headers
pip install django-random-id-model
pip install keras
pip install pillow
pip install tensorflow
pip install matplotlib
pip install scikit-learn
pip install django-background-task
pip install schedule